html {
  background-color: #181b23;
  background-size: cover;
}
h1 {
  color: white;
  margin: 0px;
  margin-left: 7px;
  padding: 1rem;
  width: 8rem;
  display: inline;
}
h1:hover {
  cursor: pointer;
}
.wallet {
  color: #ffe646;
  padding: 2px;
}
.wallet-connect-btn:hover .wallet {
  /*굳*/
  color: #ccaa00;
  cursor: pointer;
}
.wallet-connect-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
  margin-left: 30px;
}
.bar {
  display: flex;
  background-color: #212531;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
  align-items: center; /*??*/
}
.menu-list {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}
.menu-list li {
  padding: 10px;
  color: hsla(0, 0%, 100%, 0.3);
  margin-right: 30px;
}
.menu-list li:hover {
  color: #ffe646;
  cursor: pointer;
}
.main-page {
  align-items: center;
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  margin-bottom: 200px;
  margin-top: 111px;
}
.main-page img {
  width: 177px;
}
.tvl-div {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin: 25px;
}
.tvl-div span {
  color: white;
}
.tvl-header {
  font-style: normal;
}
.tvl-value {
  font-size: 30px;
}
.transaction-box {
  background-image: linear-gradient(317deg, #23293b 100%, #39425d 0);
  box-shadow: 0 2px 18px 0 rgb(0 0 0 / 50%);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  border-radius: 2px;
  width: 800px;
  height: 110px;
  margin-bottom: 30px;
  align-items: center;
}
.transaction-box-header {
  display: flex;
  align-items: center;
  margin: 18px 0;
}
progress {
  width: 760px;
  display: block;
  margin: auto;
  color: yellow;
}
.transaction-box:hover {
  cursor: pointer;
  border-color: #ffb400;
}
.transaction-box h3 {
  color: white;
  margin: 0 50px;
}
.transaction-menu-label {
  color: rgb(167, 164, 164);
  padding-bottom: 3px;
}
.transaction-menu-value {
  color: white;
}
.transaction-menu {
  display: flex;
  margin-left: auto;
  margin-right: 50px;
  gap: 50px;
}
.transaction-header {
  width: 800px;
  height: 50px;
  margin-bottom: 15px;
  display: flex;
  align-items: baseline; /*??*/
}
h2 {
  color: white;
}
.transaction-header input {
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px gray solid;
  color: white;
}
.search-btn {
  color: gray;
}
.search-btn:hover {
  color: yellow;
  cursor: pointer;
}
.search-box {
  margin-left: auto;
}
.plus-transaction {
  background-image: linear-gradient(317deg, #23293b 100%, #39425d 0);
  box-shadow: 0 2px 18px 0 rgb(0 0 0 / 50%);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  border-radius: 2px;
  width: 100px;
  height: 100px;
  align-items: center; /*??*/
  margin-bottom: 30px;
  font-size: 90px;
  display: flex;
  justify-content: center;
  border-radius: 100% 100%;
  margin: auto;
}
.plus {
  color: white;
}
.plus-transaction:hover {
  cursor: pointer;
  border-color: #ffb400;
}
.transaction-info {
  margin: auto;
  margin-top: 70px;
}
.transaction-info-top {
  display: flex;
  width: 800px;
  height: 50px;
  margin: auto;
}
.back {
  color: white;
  font-size: 40px;
  margin-right: 15px;
}
.back:hover {
  cursor: pointer;
  color: yellow;
}
.vote-detail {
  color: white;
  font-size: 30px;
}
.transaction-info-top :last-child {
  margin-left: auto;
  gap: 10px;
}
.vote-btn {
  margin: auto 0px;
  padding: 3px 40px;
  font-size: 20px;
  color: white;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  background-color: hsla(0, 0%, 100%, 0.05);
  box-shadow: 0 2px 18px 0 rgb(0 0 0 / 50%);
  border-radius: 2px;
}
.vote-btn:hover {
  cursor: pointer;
  border-color: #ffb400;
}
.transaction-info-top div {
  display: flex;
}
.transaction-info-middle {
  background-image: linear-gradient(317deg, #23293b 100%, #39425d 0);
  box-shadow: 0 2px 18px 0 rgb(0 0 0 / 50%);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  width: 800px;
  height: 200px;
  margin: auto;
}
.info-header {
  padding: 15px;
  padding-left: 20px;
  font-size: 35px;
  color: white;
}
.info-body {
  display: flex;
  padding-left: 20px;
  gap: 20px;
  width: 760px;
}
.info-body-1 {
  gap: 20px;
  padding-bottom: 20px;
  width: 380px;
}
.info-body-1 :first-child {
  color: gray;
}
.info-body-1 :last-child {
  color: white;
}
.transaction-detail {
  background-image: linear-gradient(317deg, #23293b 100%, #39425d 0);
  box-shadow: 0 2px 18px 0 rgb(0 0 0 / 50%);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  width: 800px;
  margin: auto;
  margin-top: 22px;
}
.transaction-detail .info-body-1 {
  padding: 20px;
  width: 760px;
}
.detail-content {
  margin-top: 10px;
}
.box-add-page {
  font-size: 60px;
  color: white;
}
